/* Contenedor de los botones */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Espacio entre elementos */
  margin: 20px auto; /* Añade margen con los bordes superiores e inferiores */
  padding: 10px 20px; /* Añade espacio interno */
  max-width: 90%; /* Limita el ancho máximo del contenedor */
}

/* Botón principal (Reproducir) */
.btn-primary {
  flex: 1; /* Ocupa el espacio restante */
  background-color: #414040;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

/* Botón secundario (Aleatorio) */
.btn-secondary {
  width: 50px; /* Botón cuadrado */
  height: 50px;
  background-color: #6a6a6a;
  color: #fff;
  font-size: 20px; /* Ajusta el tamaño del texto */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover para ambos botones */
.btn-primary:hover {
  background-color: #333;
}

.btn-secondary:hover {
  background-color: #505050;
}

/* Texto separador */
.separator {
  font-size: 16px;
  color: #414040;
  font-weight: bold;
}

/* Estilo para los desplegables */
select {
  appearance: none; /* Oculta la flecha predeterminada */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f6d8e7;
  border: 1px solid #414040;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
}

/* Posición del contenedor */
form {
  max-width: 400px;
  margin: 20px auto; /* Centra el formulario en la pantalla */
}
